<%- include ("../partials/header") %>

<h1> <%= match.name %> </h1>

<img src="<%= match.image %>">

<p> <%= match.description %> </p>

<p>
    <em> Submitted by <%= match.author.username %> </em>
</p>

<a class="btn btn-success" href="/campgrounds/<%= match._id %>/comments/new">Add a new comment</a>

<% match.comments.forEach(function(curComment){ %>
    <p> <strong> <%= curComment.author.username %> </strong> - <%= curComment.text %> </p>
<% }) %>

<%- include ("../partials/footer") %>